
    h1{
color: mediumseagreen;
text-align: center;
      }

    
   
     h2{
color: plum;
        }

     h3{
color: mediumspringgreen;
     }

     p{
color: palevioletred;
text-align:left;
}


body{
     background-color:snow;
}
